.admin-table-header {
  position: sticky;
  top: 0;
  display: flex;
  padding-top: $space-ml;
  padding-bottom: $space-ml;
  background-color: $light-alpha-100;
  z-index: 9;

  @include screen(smallPhone) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    & > .page-title {
      margin-right: 0;
    }
  }
  @include screen(phone) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & > .page-title {
      margin-right: 0;
    }
  }
  @include screen(tablet) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    & > .page-title {
      margin-right: 0;
    }
  }
  @include screen(tabletLandscape) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    & > .page-title {
      margin-right: $space-ll;
    }
  }
  @include screen(desktop) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    & > .page-title {
      margin-right: $space-ll;
    }
  }
  @include screen(desktopWide) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    & > .page-title {
      margin-right: $space-ll;
    }
  }
}

.table-search-wrapper {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    left: 12px;
    top: 14px;
    color: $dark-alpha-50;
    width: 20px;
    height: 20px;
    content: url('/icons/search.svg');
  }
}

.field-search {
  width: 100%;
  padding: 11px 12px 11px 48px;
  border: 1px solid $dark-alpha-30;
  border-radius: 3px;
  color: $dark-alpha-70;
  font-size: 16px;
  line-height: 24px;
  max-width: 400px;
  font-weight: $medium;
  letter-spacing: -0.12px;
  transition: all 0.36s;

  &::placeholder {
    color: $dark-alpha-50;
  }

  &:focus,
  &:active {
    border-color: $brand-primary-200;
    transition: all 0.28s;
  }
}

.table-search-clear {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: $space-sm $space-ml $space-sm $space-sm;
  color: $dark-alpha-70;
  transition: all 0.28s;
  align-items: center;
  border-radius: 3px;
  font-weight: $medium;
  display: none;

  &:hover,
  &:active {
    color: $brand-secondary-100;
  }

  &-icon {
    border-radius: 9999px;
    display: block;
    margin-right: $space-s;
    width: 20px;
    height: 20px;
  }
}
