.admin-table-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: $space-ml;

  & > .page-title {
    margin-right: $space-ll;
  }
}

.table-search-wrapper {
  position: relative;

  &::before {
    position: absolute;
    left: 12px;
    top: 14px;
    color: $dark-alpha-50;
    width: 20px;
    height: 20px;
    content: url("/icons/search.svg");
  }
}

.field-search {
  padding: 11px 12px 11px 48px;
  border: 1px solid $dark-alpha-30;
  border-radius: 3px;
  color: $dark-alpha-70;
  font-size: 16px;
  line-height: 24px;
  min-width: 400px;
  font-weight: $medium;
  letter-spacing: -0.12px;
  transition: all 0.36s;

  &::placeholder {
    color: $dark-alpha-50;
  }

  &:focus,
  &:active {
    border-color: $brand-primary-200;
    transition: all 0.28s;
  }
}

.table-search-clear {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: $space-sm $space-ml $space-sm $space-sm;
  color: $dark-alpha-70;
  transition: all 0.28s;
  align-items: center;
  border-radius: 3px;
  font-weight: $medium;
  display: none;

  &:hover,
  &:active {
    color: $brand-secondary-100;
  }

  &-icon {
    border-radius: 9999px;
    display: block;
    margin-right: $space-s;
    width: 20px;
    height: 20px;
  }
}
