.input {
  display: block;

  &:not(:last-child) {
    margin-bottom: $space-ml;
  }
}

.input-label {
  display: block;
  margin-bottom: $space-s;
  font-size: $body-2;
  line-height: 16px;
  font-weight: $medium;
  color: $dark-alpha-70;
}

.input-field {
  width: 100%;
  padding: 11px;
  border: 1px solid $dark-alpha-30;
  border-radius: 3px;
  color: $dark-alpha-70;
  font-size: $body-3;
  line-height: 24px;
  min-width: 320px;
  transition: all 0.36s;

  &:focus,
  &:active {
    border-color: $brand-primary-200;
    transition: all 0.28s;
  }
}

.input-hint {
}
