.input {
  display: block;
}

.input-label {
}

.input-field {
  padding: $space-s $space-sm;
  border: 1px solid $dark-alpha-20;
  border-radius: 3px;
  color: $dark-alpha-70;
  font-size: $body-2;
  line-height: 24px;
  min-width: 320px;
}

.input-hint {
}
