.background-wrapper {
  background-image: linear-gradient(to top, $brand-primary-100, $brand-primary-300);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.login-wrapper {
  // width: 448px;
  height: 100%;
  padding-left: $space-ll;
  padding-right: $space-ll;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: $light-alpha-100;
  width: 100%;
  // @include screen(smallPhone) {
  //   max-width: 100%;
  // }
  // @include screen(phone) {
  //   max-width: 100%;
  // }
  // @include screen(tablet) {
  //   max-width: 400px;
  // }
  // @include screen(tabletLandscape) {
  //   max-width: 400px;
  // }
  // @include screen(desktop) {
  //   max-width: 400px;
  // }
  // @include screen(desktopWide) {
  //   max-width: 400px;
  // }
}

.login-header {
  margin-bottom: $space-ll;

  & h1 {
    margin-bottom: $space-sm;
  }
}
