.navbar {
  display: flex;
  background: $light-alpha-100;
  box-shadow: 0px 4px 12px $dark-alpha-20;

  &.navbar-focus {
    position: sticky;
    top: 0;
    box-shadow: none;
  }
}

.navbar-wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
}

.brand {
  width: 32px;
  height: 32px;
  display: block;
  color: $brand-primary-200;
}

.navbar-primary {
  display: flex;
  align-items: center;
}

.navbar-secondary {
  display: flex;
  align-items: center;
}

.primary-menu-wrapper {
  display: inline-flex;
}

.primary-menu {
  display: block;
  color: $dark-alpha-70;
  font-weight: $medium;
  font-size: 15px;
  line-height: 24px;
  transition: all 0.36s;
  padding-top: $space-m;
  padding-bottom: $space-m;

  &--active {
    box-shadow: inset 0px -3px 0px $brand-primary-200;
  }

  &:hover {
    box-shadow: inset 0px -3px 0px $brand-primary-200;
    transition: all 0.28s;
  }

  &.admin {
    &.active {
      box-shadow: inset 0px -3px 0px $brand-primary-200;
    }

    &:hover {
      box-shadow: inset 0px -3px 0px $brand-primary-200;
      transition: all 0.28s;
    }
  }
}

.navbar-profile {
  padding: 8px 0;
  cursor: pointer;
}

.navbar-profile-photo {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  background-color: $brand-primary-200;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
