.popout {
  position: absolute;
  width: 100%;
  min-height: 320px;
  border-radius: 3px;
  background-color: $light-alpha-100;
  z-index: $layer-top;
  box-shadow: 0px 14px 36px 2px rgba(0, 0, 0, 0.15);
  padding: $space-ml;

  &.calendar-outer-container {
    max-width: 384px;
  }
}

.calendar-container {
}

.calendar-week {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.calendar-day {
  cursor: pointer;
  flex: 1;
  font-variant-numeric: tabular-nums;
  height: 48px;
  text-align: center;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.36s;
  border-radius: 6px;
  border: 2px solid $light-alpha-100;

  &.not-same-month {
    color: $dark-alpha-40;
  }

  &.is-past {
    color: $dark-alpha-40;
    user-select: none;
    border-radius: 6px;
    background: repeating-linear-gradient(
      -45deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255) 3px,
      rgb(235, 235, 235) 3px,
      rgb(235, 235, 235) 4px
    );
  }

  &:hover {
    background-color: $dark-hex-10;
    transition: all 0.28s;
  }
}
