@import './layouts';
@import './box';
@import './button';
@import './card';
@import './container';
@import './field';
@import './footer';
@import './modals';
@import './navbar';
@import './typography';
@import './with-love';

@import './datatables';
@import './custom-datatables';

@import './article';
@import './admin-table-header';
@import './login';
@import './toast';
@import './user-edit-profile';
@import './upload-photo';
@import './quill';
@import './section';
@import './profile';

// Temporary LQIP
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
