/*
  Fontstack
*/

/*
  Colors tokens
*/

/*
  Spaces tokens
*/

/*
  Shadow tokens
*/

/* Usage Examples
  .my-level-1-heading-class {
      @include text-crop; // Will use default line height of 1.3
      font-size: 48px;
      margin: 0 0 0 16px;
  }

  .my-level-2-heading-class {
      @include text-crop; // Will use default line height of 1.3
      font-size: 32px; // Don't need to change any settings, will work with any font size automatically
      margin: 0 0 0 16px;
  }

  .my-body-copy-class {
      @include text-crop($line-height: 2); // Larger line height desired, set the line height via the mixin
      font-size: 16px;
  }

  // Sometimes depending on the font-size, the rendering, the browser, etc. you may need to tweak the output.
  // You can adjust the top and bottom cropping when invoking the component using the $top-adjustment and $bottom-adjustment settings

  .slight-adjustment-needed {
      @include text-crop($top-adjustment: -0.5px, $bottom-adjustment: 2px);
      font-size: 17px;
  }

  .dont-do-this {
      @include text-crop;
      font-size: 16px;
      line-height: 3; // DO NOT set line height outside of the mixin, the mixin needs the line height value to calculate the crop correctly
  }
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Document */

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
}

body {
  position: relative;
  font-family: "Masbul", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.72);
  background-color: #ffffff;
}

main {
  display: block;
}

pre {
  font-family: "Roboto Mono", "Operator Mono", monospace, monospace;
  font-size: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/* Embedded content
   ========================================================================== */

/**
* Remove the border on images inside links in IE 10.
*/

img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

code,
kbd,
samp {
  font-family: "Roboto Mono", "Operator Mono", monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #008380;
}

ul,
ol {
  list-style: none;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

b,
strong {
  font-weight: 700;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: hidden;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  clear: both;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

details summary {
  cursor: pointer;
}

details:not([open]) > *:not(summary) {
  display: none !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/**
 * Fix placeholder font properties inheritance.
 */

::-webkit-input-placeholder {
  font: inherit;
}

:-ms-input-placeholder {
  font: inherit;
}

::-ms-input-placeholder {
  font: inherit;
}

::-moz-placeholder {
  font: inherit;
}

::placeholder {
  font: inherit;
}

/**
* Clickable labels
*/

label[for] {
  cursor: pointer;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

address {
  font-style: inherit;
}

/* Forms
========================================================================== */

button,
input,
optgroup,
select,
textarea {
  vertical-align: middle;
  background: transparent;
  border: 0;
  outline: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
* Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Reset to invisible
*/

fieldset {
  border: 0;
  min-width: 0;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* MISC
   ========================================================================== */

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Table
========================================================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
}

th {
  text-align: left;
}

/* Interactive
   ========================================================================== */

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/

summary {
  display: list-item;
}

* {
  color: rebeccapurple !important;
}

