@mixin container() {
  flex-grow: 1;
  margin: 0 auto;

  @include screen(smallPhone) {
    max-width: $page-width + $container-gutter-mobile-small;
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
  }
  @include screen(phone) {
    max-width: $page-width + $container-gutter-mobile * 2;
    padding-left: $container-gutter-mobile;
    padding-right: $container-gutter-mobile;
  }
  @include screen(tablet) {
    max-width: $page-width + $container-gutter-tablet * 2;
    padding-left: $container-gutter-tablet;
    padding-right: $container-gutter-tablet;
  }
  @include screen(tabletLandscape) {
    max-width: $page-width + $container-gutter-tablet * 2;
    padding-left: $container-gutter-tablet;
    padding-right: $container-gutter-tablet;
  }
  @include screen(desktop) {
    max-width: $page-width + $container-gutter-desktop * 2;
    padding-left: $container-gutter-desktop;
    padding-right: $container-gutter-desktop;
  }
  @include screen(desktopWide) {
    max-width: $page-width + $container-gutter-desktop-wide * 2;
    padding-left: $container-gutter-desktop-wide;
    padding-right: $container-gutter-desktop-wide;
  }
}

@mixin container-narrow() {
  flex-grow: 1;
  margin: 0 auto;

  @include screen(smallPhone) {
    max-width: $page-width + $container-gutter-mobile-small;
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
  }
  @include screen(phone) {
    max-width: $page-width + $container-gutter-mobile * 2;
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
  }
  @include screen(tablet) {
    max-width: $page-width + $container-gutter-tablet * 2;
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
  }
  @include screen(tabletLandscape) {
    max-width: $page-width + $container-gutter-tablet * 2;
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
  }
  @include screen(desktop) {
    max-width: $page-narrow;
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
  }
  @include screen(desktopWide) {
    max-width: $page-narrow;
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
  }
}

@mixin container-post() {
  flex-grow: 1;
  margin: 0 auto;

  @include screen(smallPhone) {
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
    max-width: $page-width + $container-gutter-mobile-small * 2;
  }
  @include screen(phone) {
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
    max-width: $page-width + $container-gutter-mobile * 2;
  }
  @include screen(tablet) {
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
    max-width: $page-width + $container-gutter-tablet * 2;
  }
  @include screen(tabletLandscape) {
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
    max-width: $page-width + $container-gutter-tablet * 2;
  }
  @include screen(desktop) {
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
    max-width: $page-post;
  }
  @include screen(desktopWide) {
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
    max-width: $page-post;
  }
}

@mixin container-bleed() {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin container-bleed-writing() {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include screen(smallPhone) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(phone) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(tablet) {
    padding-left: 0;
    padding-right: 0;
  }
  @include screen(tabletLandscape) {
    padding-left: 0;
    padding-right: 0;
  }
  @include screen(desktop) {
    padding-left: 0;
    padding-right: 0;
  }
  @include screen(desktopWide) {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin container-editor() {
  margin: 0 auto;

  @include screen(smallPhone) {
    max-width: 100%;
  }
  @include screen(phone) {
    max-width: 100%;
  }
  @include screen(tablet) {
    max-width: 720px;
  }
  @include screen(tabletLandscape) {
    max-width: 720px;
  }
  @include screen(desktop) {
    max-width: 720px;
  }
  @include screen(desktopWide) {
    max-width: 720px;
  }
}

@mixin container-post-header() {
  flex-grow: 1;
  margin-left: auto;

  @include screen(smallPhone) {
    max-width: $page-width + $container-gutter-mobile-small;
    padding-left: $container-gutter-mobile-small;
    padding-right: $container-gutter-mobile-small;
  }
  @include screen(phone) {
    max-width: $page-width + $container-gutter-mobile * 2;
    padding-left: $container-gutter-mobile;
    padding-right: $container-gutter-mobile;
  }
  @include screen(tablet) {
    padding-left: $container-gutter-tablet;
    padding-right: $container-gutter-tablet;
    max-width: $page-width + $container-gutter-tablet * 2;
  }
  @include screen(tabletLandscape) {
    padding-left: $container-gutter-tablet;
    padding-right: $container-gutter-tablet;
    max-width: $page-width + $container-gutter-tablet * 2;
  }
  @include screen(desktop) {
    padding-left: $container-gutter-desktop;
    padding-right: $container-gutter-desktop;
    max-width: calc(#{$page-post} + ((100vw - #{$page-post}) / 2));
    margin-right: 0;
  }
  @include screen(desktopWide) {
    padding-left: $container-gutter-desktop-wide;
    padding-right: $container-gutter-desktop-wide;
    max-width: calc(#{$page-post} + ((100vw - #{$page-post}) / 2));
    margin-right: 0;
  }
}
